In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib notebook

In [2]:
dataset = pd.read_csv('WagesClean2.csv') #Reading data

In [3]:
dataset.head()

,Unnamed: 0,EmployerName,MinPositionSalary,MaxPositionSalary,OvertimePay,LumpSumPay,OtherPay,EmployeesRetirementCostCovered,HealthDentalVision,PensionFormula,EmployerURL,EmployerCounty,TotalWages
0,89259,Gujarat Forensic Sciences University,22879.56,291194.40,0.0,0.0,0.00,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,http://bfa.sdsu.edu/hr/,Gandhinagar,1614.00
1,82407,Maharaja Sayajirao University of Baroda,22879.56,38749.56,0.0,0.0,596.85,0.0,0.00,NaN,http://www.csus.edu/hr/,Vadodara,596.85
2,103432,Sardar Patel University,22879.56,38749.56,0.0,0.0,1040.13,0.0,0.00,NaN,http://www.sfsu.edu/~hrwww/,Vallabh Vidhyanagar,1040.13
3,34291,Dharamsinh Desai University,31200.00,48888.00,0.0,0.0,5399.60,0.0,9319.08,2.00% @ 62,http://www.csufresno.edu/humres/,Nadiad,37752.64
4,27651,Dr. Babasaheb Ambedkar Open University,49512.00,66192.00,0.0,0.0,2697.00,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,https://www.csudh.edu/hr/,Ahmedabad,21728.98

In [4]:
dataset.rename( columns={'Unnamed: 0':'ID'}, inplace=True )

In [5]:
dataset.head()

,ID,EmployerName,MinPositionSalary,MaxPositionSalary,OvertimePay,LumpSumPay,OtherPay,EmployeesRetirementCostCovered,HealthDentalVision,PensionFormula,EmployerURL,EmployerCounty,TotalWages
0,89259,Gujarat Forensic Sciences University,22879.56,291194.40,0.0,0.0,0.00,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,http://bfa.sdsu.edu/hr/,Gandhinagar,1614.00
1,82407,Maharaja Sayajirao University of Baroda,22879.56,38749.56,0.0,0.0,596.85,0.0,0.00,NaN,http://www.csus.edu/hr/,Vadodara,596.85
2,103432,Sardar Patel University,22879.56,38749.56,0.0,0.0,1040.13,0.0,0.00,NaN,http://www.sfsu.edu/~hrwww/,Vallabh Vidhyanagar,1040.13
3,34291,Dharamsinh Desai University,31200.00,48888.00,0.0,0.0,5399.60,0.0,9319.08,2.00% @ 62,http://www.csufresno.edu/humres/,Nadiad,37752.64
4,27651,Dr. Babasaheb Ambedkar Open University,49512.00,66192.00,0.0,0.0,2697.00,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,https://www.csudh.edu/hr/,Ahmedabad,21728.98

In [6]:
dataset.rename( columns={'EmployerCounty':'Location'}, inplace=True )

In [7]:
dataset.head()

,ID,EmployerName,MinPositionSalary,MaxPositionSalary,OvertimePay,LumpSumPay,OtherPay,EmployeesRetirementCostCovered,HealthDentalVision,PensionFormula,EmployerURL,Location,TotalWages
0,89259,Gujarat Forensic Sciences University,22879.56,291194.40,0.0,0.0,0.00,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,http://bfa.sdsu.edu/hr/,Gandhinagar,1614.00
1,82407,Maharaja Sayajirao University of Baroda,22879.56,38749.56,0.0,0.0,596.85,0.0,0.00,NaN,http://www.csus.edu/hr/,Vadodara,596.85
2,103432,Sardar Patel University,22879.56,38749.56,0.0,0.0,1040.13,0.0,0.00,NaN,http://www.sfsu.edu/~hrwww/,Vallabh Vidhyanagar,1040.13
3,34291,Dharamsinh Desai University,31200.00,48888.00,0.0,0.0,5399.60,0.0,9319.08,2.00% @ 62,http://www.csufresno.edu/humres/,Nadiad,37752.64
4,27651,Dr. Babasaheb Ambedkar Open University,49512.00,66192.00,0.0,0.0,2697.00,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,https://www.csudh.edu/hr/,Ahmedabad,21728.98

In [8]:
dataset['Day'] = np.random.randint(1,28,size=(len(dataset),1))

In [9]:
dataset.head()

,ID,EmployerName,MinPositionSalary,MaxPositionSalary,OvertimePay,LumpSumPay,OtherPay,EmployeesRetirementCostCovered,HealthDentalVision,PensionFormula,EmployerURL,Location,TotalWages,Day
0,89259,Gujarat Forensic Sciences University,22879.56,291194.40,0.0,0.0,0.00,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,http://bfa.sdsu.edu/hr/,Gandhinagar,1614.00,14
1,82407,Maharaja Sayajirao University of Baroda,22879.56,38749.56,0.0,0.0,596.85,0.0,0.00,NaN,http://www.csus.edu/hr/,Vadodara,596.85,26
2,103432,Sardar Patel University,22879.56,38749.56,0.0,0.0,1040.13,0.0,0.00,NaN,http://www.sfsu.edu/~hrwww/,Vallabh Vidhyanagar,1040.13,18
3,34291,Dharamsinh Desai University,31200.00,48888.00,0.0,0.0,5399.60,0.0,9319.08,2.00% @ 62,http://www.csufresno.edu/humres/,Nadiad,37752.64,2
4,27651,Dr. Babasaheb Ambedkar Open University,49512.00,66192.00,0.0,0.0,2697.00,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,https://www.csudh.edu/hr/,Ahmedabad,21728.98,27

In [10]:
dataset['Month'] = np.random.randint(1,12,size=(len(dataset),1))

In [11]:
dataset.head()

,ID,EmployerName,MinPositionSalary,MaxPositionSalary,OvertimePay,LumpSumPay,OtherPay,EmployeesRetirementCostCovered,HealthDentalVision,PensionFormula,EmployerURL,Location,TotalWages,Day,Month
0,89259,Gujarat Forensic Sciences University,22879.56,291194.40,0.0,0.0,0.00,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,http://bfa.sdsu.edu/hr/,Gandhinagar,1614.00,14,11
1,82407,Maharaja Sayajirao University of Baroda,22879.56,38749.56,0.0,0.0,596.85,0.0,0.00,NaN,http://www.csus.edu/hr/,Vadodara,596.85,26,2
2,103432,Sardar Patel University,22879.56,38749.56,0.0,0.0,1040.13,0.0,0.00,NaN,http://www.sfsu.edu/~hrwww/,Vallabh Vidhyanagar,1040.13,18,8
3,34291,Dharamsinh Desai University,31200.00,48888.00,0.0,0.0,5399.60,0.0,9319.08,2.00% @ 62,http://www.csufresno.edu/humres/,Nadiad,37752.64,2,4
4,27651,Dr. Babasaheb Ambedkar Open University,49512.00,66192.00,0.0,0.0,2697.00,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,https://www.csudh.edu/hr/,Ahmedabad,21728.98,27,4

In [12]:
dataset['Year'] = np.random.randint(1950,1990,size=(len(dataset),1))

In [13]:
dataset.head()

,ID,EmployerName,MinPositionSalary,MaxPositionSalary,OvertimePay,LumpSumPay,OtherPay,EmployeesRetirementCostCovered,HealthDentalVision,PensionFormula,EmployerURL,Location,TotalWages,Day,Month,Year
0,89259,Gujarat Forensic Sciences University,22879.56,291194.40,0.0,0.0,0.00,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,http://bfa.sdsu.edu/hr/,Gandhinagar,1614.00,14,11,1968
1,82407,Maharaja Sayajirao University of Baroda,22879.56,38749.56,0.0,0.0,596.85,0.0,0.00,NaN,http://www.csus.edu/hr/,Vadodara,596.85,26,2,1982
2,103432,Sardar Patel University,22879.56,38749.56,0.0,0.0,1040.13,0.0,0.00,NaN,http://www.sfsu.edu/~hrwww/,Vallabh Vidhyanagar,1040.13,18,8,1957
3,34291,Dharamsinh Desai University,31200.00,48888.00,0.0,0.0,5399.60,0.0,9319.08,2.00% @ 62,http://www.csufresno.edu/humres/,Nadiad,37752.64,2,4,1971
4,27651,Dr. Babasaheb Ambedkar Open University,49512.00,66192.00,0.0,0.0,2697.00,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,https://www.csudh.edu/hr/,Ahmedabad,21728.98,27,4,1970

In [14]:
dataset['Location']=dataset['Location'].sample(frac=0.73)

In [15]:
dataset.head()

,ID,EmployerName,MinPositionSalary,MaxPositionSalary,OvertimePay,LumpSumPay,OtherPay,EmployeesRetirementCostCovered,HealthDentalVision,PensionFormula,EmployerURL,Location,TotalWages,Day,Month,Year
0,89259,Gujarat Forensic Sciences University,22879.56,291194.40,0.0,0.0,0.00,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,http://bfa.sdsu.edu/hr/,Gandhinagar,1614.00,14,11,1968
1,82407,Maharaja Sayajirao University of Baroda,22879.56,38749.56,0.0,0.0,596.85,0.0,0.00,NaN,http://www.csus.edu/hr/,Vadodara,596.85,26,2,1982
2,103432,Sardar Patel University,22879.56,38749.56,0.0,0.0,1040.13,0.0,0.00,NaN,http://www.sfsu.edu/~hrwww/,Vallabh Vidhyanagar,1040.13,18,8,1957
3,34291,Dharamsinh Desai University,31200.00,48888.00,0.0,0.0,5399.60,0.0,9319.08,2.00% @ 62,http://www.csufresno.edu/humres/,NaN,37752.64,2,4,1971
4,27651,Dr. Babasaheb Ambedkar Open University,49512.00,66192.00,0.0,0.0,2697.00,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,https://www.csudh.edu/hr/,Ahmedabad,21728.98,27,4,1970

In [16]:
dataset['LumpSumPay']=dataset['LumpSumPay'].sample(frac=0.89)

In [17]:
dataset.head()

,ID,EmployerName,MinPositionSalary,MaxPositionSalary,OvertimePay,LumpSumPay,OtherPay,EmployeesRetirementCostCovered,HealthDentalVision,PensionFormula,EmployerURL,Location,TotalWages,Day,Month,Year
0,89259,Gujarat Forensic Sciences University,22879.56,291194.40,0.0,0.0,0.00,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,http://bfa.sdsu.edu/hr/,Gandhinagar,1614.00,14,11,1968
1,82407,Maharaja Sayajirao University of Baroda,22879.56,38749.56,0.0,0.0,596.85,0.0,0.00,NaN,http://www.csus.edu/hr/,Vadodara,596.85,26,2,1982
2,103432,Sardar Patel University,22879.56,38749.56,0.0,0.0,1040.13,0.0,0.00,NaN,http://www.sfsu.edu/~hrwww/,Vallabh Vidhyanagar,1040.13,18,8,1957
3,34291,Dharamsinh Desai University,31200.00,48888.00,0.0,0.0,5399.60,0.0,9319.08,2.00% @ 62,http://www.csufresno.edu/humres/,NaN,37752.64,2,4,1971
4,27651,Dr. Babasaheb Ambedkar Open University,49512.00,66192.00,0.0,0.0,2697.00,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,https://www.csudh.edu/hr/,Ahmedabad,21728.98,27,4,1970

In [18]:
dataset

,ID,EmployerName,MinPositionSalary,MaxPositionSalary,OvertimePay,LumpSumPay,OtherPay,EmployeesRetirementCostCovered,HealthDentalVision,PensionFormula,EmployerURL,Location,TotalWages,Day,Month,Year
0,89259,Gujarat Forensic Sciences University,22879.56,291194.40,0.00,0.00,0.00,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,http://bfa.sdsu.edu/hr/,Gandhinagar,1614.00,14,11,1968
1,82407,Maharaja Sayajirao University of Baroda,22879.56,38749.56,0.00,0.00,596.85,0.0,0.00,NaN,http://www.csus.edu/hr/,Vadodara,596.85,26,2,1982
2,103432,Sardar Patel University,22879.56,38749.56,0.00,0.00,1040.13,0.0,0.00,NaN,http://www.sfsu.edu/~hrwww/,Vallabh Vidhyanagar,1040.13,18,8,1957
3,34291,Dharamsinh Desai University,31200.00,48888.00,0.00,0.00,5399.60,0.0,9319.08,2.00% @ 62,http://www.csufresno.edu/humres/,NaN,37752.64,2,4,1971
4,27651,Dr. Babasaheb Ambedkar Open University,49512.00,66192.00,0.00,0.00,2697.00,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,https://www.csudh.edu/hr/,Ahmedabad,21728.98,27,4,1970
5,69894,Gujarat Technological University,85188.00,150792.00,0.00,0.00,2000.00,0.0,17631.72,2.00% @ 55,http://www.csun.edu/hr,Ahmedabad,95325.48,26,1,1958
6,22586,Bhakta Kavi Narsinh Mehta University,28079.40,41432.76,0.00,0.00,0.00,0.0,0.00,NaN,http://www.csuchico.edu/hr/,Junagadh,604.50,14,9,1954
7,103623,Sardar Patel University,22879.56,38749.56,0.00,0.00,178.50,0.0,0.00,NaN,http://www.sfsu.edu/~hrwww/,Vallabh Vidhyanagar,178.50,6,8,1962
8,64510,Gujarat University,22879.56,38749.56,0.00,0.00,1435.50,0.0,0.00,NaN,http://www.calstatela.edu/hrm,Ahmedabad,1435.50,8,6,1976
9,24429,Bhakta Kavi Narsinh Mehta University,22879.56,38749.56,0.00,0.00,3551.78,0.0,0.00,NaN,http://www.csuchico.edu/hr/,Junagadh,3551.78,21,4,1969
10,87653,Navsari Agricultural University,54648.00,77856.00,0.00,0.00,-216.46,0.0,4228.53,2.00% @ 62,http://hrd.csusb.edu/,Navsari,10392.37,2,9,1970
11,34030,Dharamsinh Desai University,41640.00,77832.00,0.00,0.00,0.00,0.0,1539.62,2.00% @ 62,http://www.csufresno.edu/humres/,Nadiad,11400.00,25,8,1984
12,108314,Saurashtra University,49512.00,66192.00,0.00,0.00,1444.84,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,http://www2.sjsu.edu/hr/,Rajkot,7649.60,9,6,1957
13,13073,Sardarkrushinagar Dantiwada Agricultural Unive...,22879.56,38749.56,0.00,0.00,462.00,0.0,0.00,NaN,http://www.afd.calpoly.edu/hr/,Palanpur,462.00,2,8,1988
14,22526,Bhakta Kavi Narsinh Mehta University,28079.40,41432.76,0.00,0.00,0.00,0.0,0.00,NaN,http://www.csuchico.edu/hr/,Junagadh,165.10,1,1,1953
15,76181,Gujarat Technological University,28152.00,66204.00,0.00,0.00,1080.00,0.0,0.00,NaN,http://www.csun.edu/hr,Ahmedabad,10940.40,2,11,1969
16,123631,Veer Narmad South Gujarat University,22879.56,38749.56,0.00,0.00,6322.75,0.0,0.00,NaN,http://www.csustan.edu/HR/index.html,NaN,6322.75,20,8,1951
17,91611,Gujarat Forensic Sciences University,28079.40,41432.76,0.00,0.00,0.00,0.0,0.00,NaN,http://bfa.sdsu.edu/hr/,NaN,1040.00,9,9,1972
18,123496,Veer Narmad South Gujarat University,62340.00,88932.00,0.00,0.00,1023.79,0.0,9329.16,2.00% @ 55,http://www.csustan.edu/HR/index.html,NaN,64713.99,16,7,1961
19,36910,Dharamsinh Desai University,122700.00,212556.00,0.00,0.00,0.00,0.0,23270.64,2.00% @ 60,http://www.csufresno.edu/humres/,Nadiad,87369.24,1,11,1951
20,30199,Anand Agricultural University,59076.00,131088.00,0.00,0.00,1981.67,0.0,19513.71,2.00% @ 55,http://www.csueastbay.edu/af/departments/hr/,Anand,79847.32,1,4,1953
21,50378,Gujarat Ayurved University,22879.56,38749.56,0.00,0.00,7090.75,0.0,0.00,NaN,http://www.humboldt.edu/hsuhr/,Jamnagar,9590.45,6,10,1958
22,10712,Sardarkrushinagar Dantiwada Agricultural Unive...,52464.00,125736.00,0.00,NaN,650.00,0.0,9084.24,2.00% @ 62,http://www.afd.calpoly.edu/hr/,Palanpur,73111.00,22,6,1964
23,49909,Gujarat Ayurved University,22879.56,38749.56,0.00,NaN,276.10,0.0,0.00,NaN,http://www.humboldt.edu/hsuhr/,NaN,276.10,2,3,1952
24,75653,Gujarat Technological University,22879.56,38749.56,0.00,0.00,1904.00,0.0,0.00,NaN,http://www.csun.edu/hr,Ahmedabad,1904.00,25,9,1955
25,33635,Dharamsinh Desai University,46764.00,82152.00,0.00,1841.73,650.00,0.0,8554.80,2.00% @ 62,http://www.csufresno.edu/humres/,Nadiad,26279.44,16,1,1975
26,68907,Gujarat Technological University,31200.00,48888.00,0.00,8.28,1021.20,0.0,14.94,2.00% @ 62,http://www.csun.edu/hr,Ahmedabad,3319.62,20,10,1976
27,31116,Anand Agricultural University,49512.00,66192.00,0.00,0.00,1062.93,0.0,29.88,Part-Time Seasonal and Temporary (PST) Retirem...,http://www.csueastbay.edu/af/departments/hr/,Anand,6377.59,21,9,1987
28,25957,Dr. Babasaheb Ambedkar Open University,46764.00,82152.00,0.00,0.00,650.00,0.0,9319.08,2.00% @ 55,https://www.csudh.edu/hr/,Ahmedabad,67206.32,14,7,1984
29,94760,Gujarat Forensic Sciences University,22879.56,38749.56,0.00,0.00,3349.50,0.0,0.00,NaN,http://bfa.sdsu.edu/hr/,Gandhinagar,3349.50,25,4,1988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30899,35983,Dharamsinh Desai University,49512.00,66192.00,0.00,0.00,0.00,0.0,89.64,2.00% @ 55,http://www.csufresno.edu/humres/,Nadiad,57251.00,25,11,1963
30900,26945,Dr. Babasaheb Ambedkar Open University,14496.00,38028.00,0.00,0.00,5265.00,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,https://www.csudh.edu/hr/,Ahmedabad,5265.00,9,4,1977
30901,63122,Gujarat University,59076.00,131088.00,0.00,0.00,0.00,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,http://www.calstatela.edu/hrm,Ahmedabad,9540.96,11,4,1962
30902,114317,Gujarat National Law University,28079.40,41432.76,0.00,0.00,0.00,0.0,0.00,NaN,http://www.csusm.edu/HR/,NaN,325.00,3,1,1971
30903,116263,Gujarat National Law University,22879.56,38749.56,0.00,0.00,455.00,0.0,0.00,NaN,http://www.csusm.edu/HR/,Gandhinagar,533.00,15,5,1977
30904,9791,Sardarkrushinagar Dantiwada Agricultural Unive...,33060.00,58080.00,0.00,0.00,26.24,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,http://www.afd.calpoly.edu/hr/,Palanpur,1340.10,24,10,1962
30905,7885,Sardarkrushinagar Dantiwada Agricultural Unive...,59076.00,131088.00,0.00,0.00,1950.00,0.0,8564.64,2.00% @ 62,http://www.afd.calpoly.edu/hr/,Palanpur,81995.00,10,10,1957
30906,69827,Gujarat Technological University,67656.00,143952.00,0.00,0.00,15166.00,0.0,23270.64,2.00% @ 60,http://www.csun.edu/hr,Ahmedabad,88096.12,10,11,1976
30907,53332,Gujarat University of Transplantation Sciences,85188.00,150792.00,0.00,0.00,2400.00,0.0,23270.64,2.00% @ 55,http://daf.csulb.edu/offices/bhr/,Ahmedabad,98633.56,17,3,1973
30908,119776,Shri Govind Guru University,22879.56,38749.56,0.00,0.00,938.30,0.0,0.00,NaN,http://www.sonoma.edu/hr/,Godhra,938.30,25,7,1956
30909,84979,Navsari Agricultural University,132.00,2880.00,0.00,0.00,375.00,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,http://hrd.csusb.edu/,Navsari,375.00,7,8,1975
30910,84447,Navsari Agricultural University,32832.00,57672.00,32.88,0.00,922.80,0.0,17631.72,2.00% @ 55,http://hrd.csusb.edu/,Navsari,35571.29,15,8,1954
30911,99289,Sardar Patel University,34152.84,333105.48,0.00,0.00,123.12,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,http://www.sfsu.edu/~hrwww/,Vallabh Vidhyanagar,3761.01,21,11,1965
30912,19854,Ganpat University,67656.00,143952.00,0.00,NaN,0.00,0.0,14.94,NaN,http://www.csuci.edu/hr/employment.htm,Mehsana,4473.60,23,1,1953
30913,52644,Gujarat University of Transplantation Sciences,41640.00,77832.00,513.08,0.00,650.00,0.0,9237.72,2.00% @ 62,http://daf.csulb.edu/offices/bhr/,Ahmedabad,45797.36,25,5,1956
30914,56974,Gujarat University of Transplantation Sciences,22879.56,38749.56,0.00,0.00,3374.90,0.0,0.00,NaN,http://daf.csulb.edu/offices/bhr/,Ahmedabad,5200.90,1,3,1957
30915,94007,Gujarat Forensic Sciences University,22879.56,38749.56,619.20,0.00,1503.60,0.0,0.00,NaN,http://bfa.sdsu.edu/hr/,Gandhinagar,7111.20,8,5,1957
30916,60817,Gujarat University,28080.00,52920.00,0.00,0.00,0.00,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,http://www.calstatela.edu/hrm,Ahmedabad,2030.45,15,8,1954
30917,117907,Shri Govind Guru University,28079.40,41432.76,0.00,0.00,0.00,0.0,0.00,NaN,http://www.sonoma.edu/hr/,NaN,110.50,14,11,1955
30918,3459,Institute of Infrastructure Technology Researc...,49512.00,66192.00,0.00,0.00,0.00,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,http://www.cpp.edu/~hr/index.shtml,NaN,4251.72,5,4,1970
30919,33794,Dharamsinh Desai University,34152.00,59976.00,830.73,0.00,651.25,0.0,9329.16,2.00% @ 55,http://www.csufresno.edu/humres/,Nadiad,51810.82,21,4,1959
30920,22604,Bhakta Kavi Narsinh Mehta University,28079.40,41432.76,0.00,0.00,0.00,0.0,0.00,NaN,http://www.csuchico.edu/hr/,Junagadh,156.00,24,9,1954
30921,44536,Maharaja Krishnakumarsinhji Bhavnagar University,22879.56,38749.56,0.00,0.00,0.00,0.0,0.00,NaN,http://hr.fullerton.edu/,NaN,546.00,9,4,1987
30922,92195,Gujarat Forensic Sciences University,49512.00,66192.00,0.00,0.00,0.00,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,http://bfa.sdsu.edu/hr/,NaN,2760.00,20,5,1982
30923,7169,Sardarkrushinagar Dantiwada Agricultural Unive...,31200.00,48888.00,0.00,0.00,650.00,0.0,23270.64,2.00% @ 55,http://www.afd.calpoly.edu/hr/,Palanpur,36003.84,6,1,1980
30924,60034,Gujarat University,34152.00,59976.00,0.00,0.00,636.88,0.0,23270.64,2.00% @ 55,http://www.calstatela.edu/hrm,Ahmedabad,45523.07,27,11,1960
30925,4712,Institute of Infrastructure Technology Researc...,22879.56,38749.56,0.00,0.00,440.00,0.0,0.00,NaN,http://www.cpp.edu/~hr/index.shtml,Ahmedabad,440.00,20,8,1964
30926,85050,Navsari Agricultural University,28079.40,41432.76,0.00,0.00,0.00,0.0,0.00,NaN,http://hrd.csusb.edu/,NaN,942.50,21,6,1976
30927,82459,Maharaja Sayajirao University of Baroda,22879.56,38749.56,0.00,0.00,738.30,0.0,0.00,NaN,http://www.csus.edu/hr/,Vadodara,738.30,6,1,1959
30928,44048,Maharaja Krishnakumarsinhji Bhavnagar University,59076.00,131088.00,0.00,0.00,0.00,0.0,0.00,Part-Time Seasonal and Temporary (PST) Retirem...,http://hr.fullerton.edu/,NaN,2887.60,7,1,1959

In [19]:
dataset.to_csv('WagesClean3.csv')

In [20]:
dataset['TotalWages'].corr(dataset['ID'])

-0.0451046826799322

In [22]:
dataset['TotalWages'].corr(dataset['MinPositionSalary'])

0.7561340314203202

In [23]:
dataset['TotalWages'].corr(dataset['MaxPositionSalary'])

0.6229165774862471

In [24]:
dataset['TotalWages'].corr(dataset['OvertimePay'])

0.13681912793629808

In [25]:
dataset['TotalWages'].corr(dataset['LumpSumPay'])

0.16438168190951566

In [26]:
dataset['TotalWages'].corr(dataset['OtherPay'])

0.33108101811043367

In [27]:
dataset['TotalWages'].corr(dataset['EmployeesRetirementCostCovered'])

0.08504489551010481

In [28]:
dataset['TotalWages'].corr(dataset['HealthDentalVision'])

0.751259915989827

In [31]:
dataset['TotalWages'].corr(dataset['Year'])

0.006414746213655481